language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install -r requirements.txt
  - pip install codecov

script:
  - pytest --cov=./ecg_qc/

after_success:
  - bash <(curl -s https://codecov.io/bash)